steppy
steppy-toolkit
bokeh
numpy
flask
numpy
contextlib2==0.5.5
click==6.7
opencv_python
tqdm==4.11.2
attrdict==2.0.0
pandas==0.20.2
pycocotools==2.0.0
tensorflow==1.6.0
neptune_cli==2.5.2
six==1.10.0
torch==0.3.1
Pillow==5.2.0
category_encoders==1.2.8
protobuf==3.6.0
imgaug==0.2.6
scikit_learn==0.19.2
torchvision==0.2.1
PyYAML==3.13
imgaug